body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin: 0px;
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 20px;
}
.imagem {
    width: 150px; 
    height: auto; 
  }
  
header { 
    font-family: 'Bungee', cursive;
    font-size: 15px;;
    display: flex;
    justify-content: center;
    padding: 0px;
    text-align: center;
    align-items: flex-end;
}
h1{
    width: 350px;
    line-height: 1.0;
    text-align: left;

}
.bi {
    font-size: 50px; 
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
}

.box {
    background-color: #3681B6A1; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    width: 310px; /* Largura do formulário */
    margin: 0 auto; /* Centraliza o formulário */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box input,
.box select {
    font-family: 'Inter', sans-serif;
    width: 100%;
    padding: 5px; 
    border-radius: 5px;
    border: none;
}
.box label{
    font-size: 15px;
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    gap: 5px;
}
.sub_titulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 5px;
    line-height: 1.0;
    margin-bottom: 20px;
    font-size: 25px;
    align-items: flex-end;
}
.sub_titulo p{
    margin: 0px;
    
}
.botao {
    margin-top: 15px;
    align-self: center; /* centraliza o botão horizontalmente dentro do flex container */
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}
